*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: auto;
}
.navbar-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1B252F;
    padding: 3vh 3vw ;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.nav-left{
    display: flex;
    justify-content: space-between;
    gap: 15%;
}

.logo{
    width: 7vw;
    height: auto;
    object-fit: contain;
} 
.list-container{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    list-style: none;
}
.list-container li a{
    color: #ced6dc;
    font-size: 1vw;
    text-decoration: none;
    
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.languageBtn,.loginBtn{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #ced6dc;
    font-weight: 600;
}
.languageBtn img{
    object-fit: cover;
    width: 25px;
}
.languageBtn i{
    font-size:15px;
    color: #8595a1;
}
.loginBtn .fa-user-o{
    font-size:23px;
    font-weight: 500;
    color: #8595a1;
    transition-duration: .4s;
}
.tryBtn{
    font-size: 1.8rem;
    padding: 5px 0 5px 0;
    font-weight: 100;
    width: 8vw;
    background-color:#0f79af;
    border: none;
    border-radius: 3px;
    color: white;
    transition-duration: .4s;
}
.tryBtn:hover{
    background-color: #1399de;
}
.loginBtn .fa-user-o:hover{
    color: white;
}
#searchIcon{
    color: #8595a1;;
    font-size: 20px;
    transition-duration: .4s;
}
#searchIcon:hover{
    color: white;
}

.dummy{
    width: 100%;
    min-height: 10vh;
}

/* -------------------------------------------navbat----------------------------------------- */
#welcome-container{
    background-image: linear-gradient( to right, #000 40%, transparent 58% ), url(https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
}
.welcome{
    font-family: "Amazon Ember";
    min-height: 70vh;
    min-width: 320px;
    margin-top: -8px;
    display: flex;
    align-items: center;
}
.welcome div{
    margin-left: 5vw;
    margin-bottom: 15vh;
}
.welcome h1{
    font-size: 4.8rem;
    color: white;
    font-weight: lighter;
}
.welcome p{
    color: white;
    font-size: 2.3rem;
    font-weight: 300;
    margin-top: 20px;
    display: inline-block;
    width: 90%;

}
.welcome button{
    font-size: 1.6rem;
    padding: 8px 0 8px 0;
    font-weight: 500;
    width: 15vw;
    background-color:#0f79af;
    border: none;
    border-radius: 3px;
    color: white;
    transition-duration: .4s;
    margin-top: 15px;
    display: block;
}
.welcome button:hover{
    background-color: #1399de;
}

/* ----------------------------------------------------rental-container-----------------------------------*/
#rental-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;    
    background-image:linear-gradient(to left, #000 40%, transparent 58%),url(https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Left.jpg);
    background-position: left top;
      }

.rental{
    min-height: 70vh;
    min-width: 320px;
    margin-top: -8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rental div{
    margin-left: 5vw;
    margin-bottom: 15vh;
    margin-right: 8vw;
}
.rental h1{
    font-size: 4.1rem;
    color: white;
    font-weight: 400;
}
.rental p{
    color: white;
    font-size: 2.1rem;
    font-weight: 300;
    margin-top: 20px;
    display: inline-block;
    width: 90%;
}
.rental button{
    font-size: 1.6rem;
    padding: 15px 0 15px 0;
    font-weight: 500;
    width: 18vw;
    background-color:#0f79af;
    border: none;
    border-radius: 3px;
    color: white;
    transition-duration: .4s;
    margin-top: 15px;
    display: block;
}
.rental button:hover{
    background-color: #1399de;
}


/* ----------------------------------channel------------------------------*/
.channels{
    display: flex;
}
.channels-left{
    margin-left: 5vw;
    margin-top: 30px;
    flex: 1;
}
.channels-left h1{
    font-size:4.6rem;
    font-weight: 300;
    color: #000;
    display: inline-block;
    width: 90%;
}
.channels-left p{
    font-size: 2.1rem;
    display: inline-block;
    margin-top: 20px;
    width: 90%;
}
.channel-right{
    max-width: 720px;
    display: flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    margin-top: 50px;
    margin-right: 50px;
    float: right;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    z-index: 0;
    gap: 5px;
}
.channel-right img:hover{
    box-shadow: 0 0 8px 5px  rgb(24, 27, 29);
}
.card{
    width:15vw;
    height: 18vh;
    scale: 1;
    margin-bottom: 2px;
}
.card:hover{

}

/* --------------------------------------------pairing----------------------------------------*/

#pairing-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;    
    background-image:linear-gradient(to left, #000 40%, transparent 58%),url(https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left.jpg);
    background-position: left top;
      }

.pairing{
    min-height: 70vh;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.pairing div{
    margin-left: 5vw;
    margin-bottom: 15vh;
    margin-right: 8vw;
}
.pairing h1{
    font-size: 3.8rem;
    color: white;
    font-weight: 400;
}
.pairing p{
    color: white;
    font-size: 2.1rem;
    font-weight: 300;
    margin-top: 20px;
    display: inline-block;
}
.pairing button{
    font-size: 1.6rem;
    padding: 15px 0 15px 0;
    font-weight: 500;
    width: 18vw;
    background-color:#0f79af;
    border: none;
    border-radius: 3px;
    color: white;
    transition-duration: .4s;
    margin-top: 15px;
    display: block;
}
.pairing button:hover{
    background-color: #1399de;
}

#pairing-info{
    margin:0;
    max-width:40vw;
}

/* ------------------------------friendly-------------------------------- */

#Friendly-container{
    background-image:linear-gradient(to right, #000 40%, transparent 58%),url(https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-kids-30Jan._CB1517304519_.jpg);
    background-position: right top;
}
.Friendly{
    min-height: 70vh;
    min-width: 320px;
    margin-top: -8px;
    display: flex;
    align-items: center;
}
.Friendly div{
    margin-left: 5vw;
    margin-top: 8vh;
    margin-bottom: 15vh;
}
.Friendly h1{
    font-size: 4rem;
    color: white;
    font-weight: 500;
}
.Friendly p{
    color: white;
    font-size: 2.1rem;
    font-weight: 300;
    margin-top: 20px;
    display: inline-block;
    width: 42%;

}
.Friendly button{
    font-size: 1.6rem;
    padding: 15px 0 15px 0;
    font-weight: 500;
    width: 18vw;
    background-color:#0f79af;
    border: none;
    border-radius: 3px;
    color: white;
    transition-duration: .4s;
    margin-top: 35px;
    display: block;
}
.Friendly button:hover{
    background-color: #1399de;
}

/* -------------------------footer-----------------------*/
.footer{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh 0 4vh 0;
}
.footer img{
    object-fit: cover;
    object-position: center;
}
.footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.footer p{
    color: #6f716d;
}


/* -----------------------hiddenCards-------------------------*/
.catagories-hidden{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
    background-color: #0f1921;
    position: fixed;
    top: 10%;
    z-index: 10;
    display: none;
}
.catagories-hidden-left{
    display: flex;
    flex-direction: column;
    padding-right:40px;
    height: 43vh;
    border-right: 1px solid #ced6dc;
}
.catagories-hidden-left h3{
    color:#ced6dc;
}

.hidden-cards-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-image: url('path/to/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-flow: row wrap;
    width: 45vw;
    margin-bottom: 30px;
}

.hidden-cards-container a{
    height: 100px;
    position: relative;
    margin: 10px;
    width: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.catagory-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 9vw;
    z-index: 1;
}
.hidden-image:hover{
    border: 2px solid white;
}
.hidden-image{
    object-fit: fill;
    width: 100%;
    height: 100%;
    object-position: center;
}
.catagory a{
    text-decoration: none;
}

.catagories-hidden-right{
    display: flex;
    gap: 4vw;
    width: 40vw;
    height: 95%;
}
.language h3{
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}
.language-list{
    display: flex;
    gap: 3vw;
    text-align: left;
}
.language-list ul{
    list-style: none;
    line-height: 30px;
}
.language-list ul a{
    color: #62889d;
}
.genre h3{
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 700;
}
.genre-list ul{
    list-style: none;
    line-height: 30px;
}
.genre-list a{
    color: #62889d;
}
.hidden-profile{
    width: 13vw;
    height: auto;
    background-color: #1f2c3d;
    position: fixed;
    top: 10%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    z-index:11;
    display: none;
}
#hidden-profile-3{
    border-bottom: none;
    padding-bottom: 5px;
}
.hidden-profile div{
    color: #ced6dc;
    border-bottom: 1px solid #31373b;
    padding: 10px;
    font-size: 17px;
}
.hidden-profile-3{
    border-bottom: none;
}


.hidden-language{
    max-height: 60vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 46vw;
    top: 8%;
    right: 7%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 12;
    background: #252e39;
    display: none;
}
.hidden-language ul {
    color: #ced6dc;
    list-style: none;
    line-height: 25px;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0;
    width: 18vw;
}
.hidden-language ul li{
    padding: 10px 20px 10px 20px;
}
.hidden-language ul li:hover{
    background-color: #566b84;
    transition-duration: 1s;
}
.list-line{
    height: 66vh;
    border-right: 1px solid #161e27;
    overflow-x: hidden;
    overflow-y: auto;
}
 @media (max-width:1030px){

 }

/* @media (max-width:1280px){
    .channel-right{
        max-width: 680px;
    }
    .card{
        width: 16vw;
        height: 16vh;
    }
}
@media (max-width:1080px){
    .channel-right{
        max-width: 590px;
    }
    .card{
        width: 18vw;
        height: 18vh;
    }
}

@media (max-width:1040px){
    .channel-right{
        max-width: 460px;
    }
    .card{
        width: 20vw;
        height: 20vh;
    }
} */
